body{

          background-color: brown;
          
                   
}
*{
          margin: 0;
          padding: 0;
}
.heading{
          margin: 19px 590px;
}

.allbtn  {
background-color: chocolate;

padding: 162px 416px;
}
.a              {
          cursor: pointer;
          height: 100px;
          width: 100px;
          border: 30px;
          border: solid black;
          border-radius: 30px;
          background-image:url(drum.jpg);
          box-shadow: 5px 5px 5px 5px  ;
          
          
}
.b{
          cursor: pointer;
          height: 100px;
          width: 100px;
          border-radius: 30px;
          border: solid black;
          background-image: url(drum2.jpg);
          box-shadow: 5px 5px 5px 5px  ;

          


}

.c{
          cursor: pointer;
          height: 100px;
          width: 100px;
          border-radius: 30px;
          border: solid black;
          background-image: url(kickdrum.jpg);
          box-shadow: 5px 5px 5px 5px  ;
          
}
.d{
          cursor: pointer;
          height: 100px;
          width: 100px;
          border-radius: 30px;
          border: solid black;
          background-image: url(cymbal.jpg);
          box-shadow: 5px 5px 5px 5px  ;
          
}
.e{
          cursor: pointer;
          height: 100px;
          width: 100px;
          border-radius: 30px;
          border: solid black;
          background-image: url(drum.jpg);
          box-shadow: 5px 5px 5px 5px  ;

          
          
}
.pressed{
box-shadow: 0 3px 4px 0 #3cb6df;
opacity: 0.5;


}
footer{ 
          margin: 0 600px;
}