body{

          background-color: brown;
          
                   
}
*{
          margin: 0;
          padding: 0;
}
.heading{
          margin: 19px 590px;
}

.allbtn  {
background-color: chocolate;

padding: 162px 416px;
}
.a      {
          cursor: pointer;
          height: 100px;
          width: 100px;
          border: 30px;
          border: solid black;
          border-radius: 30px;
          background-image:url(drum.jpg);
          
          
}
.b{
          cursor: pointer;
          height: 100px;
          width: 100px;
          border-radius: 30px;
          border: solid black;
          background-image: url(drum2.jpg);
          


}

.c{
          cursor: pointer;
          height: 100px;
          width: 100px;
          border-radius: 30px;
          border: solid black;
          background-image: url(kickdrum.jpg);
          
}
.d{
          cursor: pointer;
          height: 100px;
          width: 100px;
          border-radius: 30px;
          border: solid black;
          background-image: url(cymbal.jpg);
          
}
.e{
          cursor: pointer;
          height: 100px;
          width: 100px;
          border-radius: 30px;
          border: solid black;
          background-image: url(drum.jpg);

          
          
}
footer{
          margin: 0 600px;
}